.homes {
    grid-column: center-start / center-end;
    margin: 15rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}

.home {
    background-color: $color-grey-light-1;
}